<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {{ if .IsHome }}
      {{ .Site.Params.Title }} &middot; {{ .Site.Params.Tagline }}
    {{ else }}
      {{ .Title }} &middot; {{ .Site.Params.Title }}
    {{ end }}
  </title>

  <!-- CSS -->
  <link rel="stylesheet" href="/css/poole.css">
  {{ $style := resources.Get "sass/main.scss" | toCSS | minify | fingerprint }}
  <link href="{{ $style.RelPermalink }}" rel="stylesheet">
  <link rel="stylesheet" href="/css/lanyon.css">

  {{- if not .Site.Params.disableFonts }}
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700|PT+Sans:400">
  {{- end }}
  {{- range .Site.Params.customCSS }}
  <link rel="stylesheet" href="{{ . | relURL }}">
  {{- end }}

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="/assets/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">
</head>
